@model IList<AspTask1.Models.Fastfood>

<!DOCTYPE html>
<html>
<head>
    <title>Index 2</title>
</head>
<body>
    <h1>Fast Foods</h1>
    @foreach (var item in Model)
    {
        <hr />
        <h4>Name:@item.Name</h4>
        <h4>Price:@item.Price ₼</h4>
        <h4>Size:@item.Size</h4>
        <h4>Meat:@(item.Beef ? "Beef":"Chicken")</h4>
        <hr />
    }
</body>

</html>
